<%- include('temp/header.ejs') %>

<header>
            <hi> Programming Languages: Python</hi>
            <hi> || Page finished: <time>2-9-2020</time></hi>
        </header>
        <nav>
            <!--<hr width = "50%" />-->
            <a href="/"> Home</a>
            <a href="/c">C++</a>
            <a href="/java">Java</a>
            <a id="c" href="/python">Python</a>
            
        </nav>
        
        <br /><br />
        
        <main>
            
           <figure id="python">
                <img src="img/python.jpeg" />
            </figure>
            
            <p>•<a href="https://towardsdatascience.com/top-10-in-demand-programming-languages-to-learn-in-2020-4462eb7d8d3e">Python</a>: developed during the 1990s by Guido van Rossum is considered today as one of the most popular programming languages as of the beggining of 2020.</p>
           <p>• Key reasons as to why Python is so popular would include its language design in which it is very productive, its first class integration with c and c++, and its very active community and support. Being able to provide libraries and frameworks for plenty of different areas of production.</p>
           <p>• Being an <a href="https://www.python.org/doc/essays/blurb/">interpreted</a>, object oriented, high level programming language, Python gains popularity to its ability to rapidly develop application. Its simple and easy to learn syntax also reduces the cost of maintenance.</p>
           <p>• <a href= "https://www.python.org/about/apps/">Applications</a> that use Python include web development, scientific and numeric computing, education, desktop GUIs, software development, and business applications.</p>
            
            
            <style>
                    thead{color:black;}
                    tbody{color:blue;} 
                </style>
                
                <table>
                    <thead>
                        <tr>
                            <th>Programming Language</th>
                            <th>Average Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>C++</td>
                            <td>$77,710</td>
                        </tr>
                        <tr>
                            <td>Java</td>
                            <td>$93,055</td>
                        </tr>
                        <tr>
                            <td><a href="https://www.salary.com/research/salary/posting/entry-level-python-developer-salary">Python</a></td>
                            <td>$83,587</td>
                        </tr>
                    </tbody>
                </table>
           
        </main>
        


<%- include('temp/footer.ejs') %>